body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.logo {
  width: 100%;
  height: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/code.jpg");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

#imgFace {
  max-height: 250px;
}

.infoAboutMe {
  margin-top: 5%;
}

.checked {
  color: orange;
}

.techs {
  background-color: rgb(77, 77, 77);
  box-shadow: inset 0 0 1em black, 0 0 1em black;
}

.techs img {
  max-height: 125px;
  max-width: 250px;
}

.techsHeader {
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
}

.umdiv {
  margin-top: 5%;
}

.card img {
  height: 250px;
}

a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .techs img {
    margin: 15px 0;
  }
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.ability {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.elementImage {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 25px;
  border: 1px solid white;
  box-sizing: border-box;
}

footer i {
  font-size: 5rem;
}

.techName {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
